/*
    Document   : studentStyles
    Created on : 08.07.2009, 12:51:19
    Author     : korgovvd
    Description:
        Purpose of the stylesheet follows.
*/

/*
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/
@import url("universalStyles.css");
@import url("../dojoroot/dijit/themes/tundra/test_tundra.css");
@import url("../dojoroot/dojo/resources/dojo.css");
@import url("dojoStyle.css");
#test .dijitButton,#test  .dijitDropDownButton,#test  .dijitComboButton,
#testBody .dijitButton,#testBody  .dijitDropDownButton,#testBody  .dijitComboButton{
	background: transparent url(../images/disabledFileUplButn11.png) repeat-x;
	line-height: 30px;
}



.for_help_down:link{text-decoration: none;color: #1d8096;display: inline;position: relative; left: 100px; outline: none;}
.for_help_down:visited {text-decoration: none;color: #1d8096;display: inline;position: relative; left: 100px; outline: none;}
.for_help_down:active {text-decoration: none;color: #1d8096;display: inline;position: relative; left: 100px; outline: none;}
.for_help_down:hover {text-decoration: underline;color: #2da0ba;display: inline;position: relative; left: 100px; outline: none;}

.for_help_down1:link{text-decoration: none;color: #1d8096;display: inline;position: relative; left: 457px; outline: none;padding-top: 3px;padding-bottom: 3px;}
.for_help_down1:visited {text-decoration: none;color: #1d8096;display: inline;position: relative; left: 457px; outline: none;padding-top: 3px;padding-bottom: 3px;}
.for_help_down1:active {text-decoration: none;color: #1d8096;display: inline;position: relative; left: 457px; outline: none;padding-top: 3px;padding-bottom: 3px;}
.for_help_down1:hover {text-decoration: underline;color: #2da0ba;display: inline;position: relative; left: 457px; outline: none;padding-top: 3px;padding-bottom: 3px;}

.help_part1:link{text-decoration: none;color: #2da0ba !important;display: inline;position: relative; left: 457px; outline: none;padding-top: 3px;padding-bottom: 3px;}
.help_part1:visited {text-decoration: none;color: #2da0ba !important;display: inline;position: relative; left: 457px; outline: none;padding-top: 3px;padding-bottom: 3px;}
.help_part1:active {text-decoration: none;color: #2da0ba !important;display: inline;position: relative; left: 457px; outline: none;padding-top: 3px;padding-bottom: 3px;}
.help_part1:hover {text-decoration: underline;color: #1d8096 !important;display: inline;position: relative; left: 457px; outline: none;padding-top: 3px;padding-bottom: 3px;}

.help_part_href {color: #2da0ba !important;padding-top: 5px;font-size: 10pt;margin-left: 10px;position: relative; left: 445px;cursor: pointer;}
.help_part_href0 {color: #2da0ba !important;padding-top: 5px;font-size: 10pt;margin-left: 10px;position: relative; left: 80px;cursor: pointer;}

.prosto_tekst .help_part{
	color: #2da0ba !important;
	padding-top: 5px;
	font-size: 10pt;
	margin-left: 10px;
}

#test .dijitButton,#test  .dijitDropDownButton,#test  .dijitComboButton,
#testBody .dijitButton,#testBody  .dijitDropDownButton,#testBody  .dijitComboButton{
	background: transparent url(../images/disabledFileUplButn11.png) repeat-x;
	line-height: 30px;
}

.main_page .fotoborder{
    border: 1px solid #4DB7F1; width: 156px;
}
.main_page .rborder_for_grades_tab{
    border-right: 1px dotted silver;
}
.main_page .before_test_info{
	padding: 10px;
}
/*stteacher; informacija o prepadovatile*/
.main_page .head_main_g_prep{
	background-color: #D8F7E2;  border-bottom: 1px solid #D8F7E2; border-top: 1px solid #D8F7E2;padding: 5px 10px 5px 10px;
}
.main_page .head_main_g_prep table{
	/* padding-left:50px;*/
        margin:0px;
}
.main_page .head_main_g_prep table tr{
	height:23px;
}
.main_page .head_main_g_prep b{
	font-family: Arial; COLOR: #96A0A2; font-size: 10pt; font-weight: normal;
}
/*mainContent, ststudent; informacionnoe pole*/
.main_page .head_main_g{
	background-color: #A2DEF6;  border-bottom: 1px solid #4DB7F1; border-top: 1px solid #4DB7F1;
	padding: 5px 10px 5px 10px; //height: 265px;
}
.main_page .head_main_g table{
	 margin:0; // margin-bottom: 10px;
}
.main_page .head_main_g table tr{
	height:23px;
}
.main_page .head_main_g table tr p{
	margin: 0px; color: white;
}
.main_page .head_main_g b{
	font-family: Arial; COLOR: #96A0A2; font-size: 10pt; font-weight: normal;
}
/*mainContant; informacija o gruppe*/
 .reit_table{
 	border-bottom: 1px solid silver; width:522px; padding-top: 5px; padding-bottom: 10px; background: white;
}
/*courseworks, debt, stsched_week; zakachka*/
.coo:link {COLOR: gray; TEXT-DECORATION: none; font-size: 10pt; font-weight: normal; }
.coo:visited {COLOR: gray; TEXT-DECORATION: none; font-size:10pt; font-weight: normal}
.coo:active {COLOR: gray; TEXT-DECORATION: none; font-size: 10pt; font-weight: normal}
.coo:hover {COLOR: #0E82C4; TEXT-DECORATION: none; font-size: 10pt; font-weight: normal; }
/*mainContant photo na glavnoi stranice*/
.main_page .photo{
	width: 151px;
}
/*mainContant zagruzka foto*/
.main_page .load_photo_student_main{
    //margin-top: -20px;
	text-align: center;
}
/*mainContant zapolnenie central'noi informacionnoi chasti*/
.contact_i,
.hobbies,
.about_them{
	color: Black;
}
/*mainContant, settings, ststudent, stteacher; serie bloki v centre*/
.main_page #gr_line{
	z-index: 1;
	//margin-top: -20px;
	height: auto; width: 522px;
	position:  static;
}
/*mainContant, ststudent, stteacher central chast' serogo bloka v centre*/
.main_page .hobby{
	margin-bottom: 15px;
}
.main_page .hobby table{
	margin-left: 15px; margin-top: 10px;
}
.main_page .hobby table tr{
	height:20px;
}
.main_page .hobby p{
	font-family: Arial; COLOR: black; font-size: 10pt; font-weight: normal; margin-top: 0px;
	margin-bottom: 3px;
}
.main_page .hobby a:link {COLOR: #89d7f8; TEXT-DECORATION: underline; font-size: 9pt; font-weight: normal; }
.main_page .hobby a:visited {COLOR: #89d7f8; TEXT-DECORATION: none; font-size: 9pt; font-weight: normal}
.main_page .hobby a:active {COLOR: #0888C2; TEXT-DECORATION: none; font-size: 9pt; font-weight: normal}
.main_page .hobby a:hover {COLOR: #89d7f8; TEXT-DECORATION: underline; font-size: 9pt; font-weight: normal}
/*ststudent, mainContent, stteacher; about user*/
.main_page .n{
	color: #75c6f5;font-family: Arial; font-size: 10pt; font-weight: normal;
}
/*mainContant, ststudent; golubie nadpisi v central'nom bloke*/
.main_page .VOrient_prep{
	width: 180px;
}
/*materials spisok materialov*/
.main_page .inf_math{
	clear: both; margin-bottom: 10px; margin-top: 15px; margin-left: 10px; margin-right: 10px;
}
/*materials otstupi ot texta v spisoke materialov*/
.main_page .inf_math_reit{
	width: 350px; float: left; margin-left: 15px;
}
/*materials text v spisoke materialov*/
.main_page .inf1{
	color:black; font-size: 10pt; margin-top: 10px; margin-bottom: 10px;
}
/*materials  posmotret' kurs v spisoke materialov*/
.main_page .visco:link {COLOR: #959595; TEXT-DECORATION: none; font-size: 10pt; font-weight: normal; text-align: right; }
.main_page .visco:visited {COLOR: #959595; TEXT-DECORATION: none; font-size:10pt; font-weight: normal; text-align: right;}
.main_page .visco:active {COLOR: #F95E62; TEXT-DECORATION: none; font-size: 10pt; font-weight: normal; text-align: right;}
.main_page .visco:hover {COLOR: #F95E62; TEXT-DECORATION: none; font-size: 10pt; font-weight: normal; text-align: right; }
/*materials  kartinka v spisoke materialov*/
.main_page .reit_pic{
	float: right; margin-right: 20px;
}
/*materials  kartinka v spisoke materialov*/
.main_page .reit_pic_poz{
	z-index: 1; position: relative;
}
/*materials  text na kartinke v spisoke materialov*/
.main_page .text_reit{
	z-index: 2; position: relative; bottom: 34px; left: 10px;
}
/*materials  krasnii text na kartinke v spisoke materialov*/
.main_page .red_dijit{
	color: red; text-align: center;
}
/*materials sinii text na kartinke v spisoke materialov*/
.main_page .blue_dijit{
	color: #299ddb; text-align: center;
}
/*materials razdeliteli v spisoke materialov*/
.main_page .raz_delete{
	border-bottom: 1px solid silver; width: 202px; height: 1px; margin-left: 10px; overflow: hidden;
}
/*controlworks, grades, materials, stteachers, testresults; serie ssilki*/
.main_page .stmat_links{
	padding-top:10px; padding-bottom: 10px; padding-right: 0px; padding-left: 23px;
}
.main_page .stmat_links ol{
	list-style: none; margin: 0px; padding: 0px;
}
.main_page .stmat_links ol li{
	float: left;
}
.main_page .stmat_links ol li a{
	margin-top: 3px;
}
/*shedule */
.main_page .name_shed{
	background-color: #A2DEF6; width: 522px;
}
.main_page .name_shed p{
	color: white; text-align: center; font-size: 14pt; padding-top: 5px; padding-bottom: 5px; font-style: italic; margin-top:0px; margin-bottom: 0px;
}
/*shedule tablica s uchebnim planom*/
.main_page table .sch {
	border-collapse: collapse;
	border-width: 1px;
	border-color: silver;
	color: gray;
	font-family:verdana;
	font-size:10px;
}
/*shedule zagolovok tablici s uchebnim planom*/
.main_page table .sch .hat_shedule_table td{
	background:#a2def6;
}
/*shedule text v tablice s uchebnim planom*/
.main_page table.sch td.data {
	border-collapse:collapse;
	color: grey;
	font-family:Tahoma;
	font-size:10pt;
	font-weight:normal;
}
/*shedule text v centre*/
.main_page .prosto_tekst{
	width: 522px;
	padding-top: 10px;
}
.main_page .prosto_tekst p{
	text-align: justify; color: black; margin: 0px;padding-top: 10px; padding-left: 30px; padding-right: 30px;
}
/*shedule kolonka v tablice*/
.main_page .contr_simb1{
	margin: 0px; color: Green;
	font-weight: 900;
	font-style: italic;
	font-size: 12px;
}
/*shedule kolonka v tablice*/
.main_page .contr_simb2{
	margin: 0px; color: #00C5C8;
	font-weight: 900;
	font-style: italic;
	font-size: 12px;
}
/*controlworks tablica resultatov*/
.main_page .control_works{
	padding-left: 0px; float: left; width: 522px;
}
.main_page .control_works_table{
	width: 502px; margin-left: 10px;
}
/*controlworks verh tablici resultatov*/
.main_page .control_works_table .shapka td p{
        margin-left:1px; margin-right: 1px; margin-top: 3px; margin-bottom: 4px; font-size: 10pt; font-weight: 200;
}
/*controlworks, news; otstup v central'nom bloce posle tablici*/
.main_page .ostup_sleva{
    padding-left: 20px;
}

.main_page .ostup_sleva1{
	margin-top: 10px;
    padding-left: 20px;
	padding-right: 10px;
	text-align: left !important;
	XXXpadding-top: 5px;
	XXXpadding-bottom: 5px;
}
/*grades text posle tablici*/
.main_page .res_cw_tab{
    padding: 10px;
    border-top: 1px solid silver;
    border-bottom: 1px solid silver;
}
/*testresult; tablica testov*/
.main_page .tab_test_result{
    margin: 10px;
    border-top: 1px silver solid;
    border-bottom: 1px silver solid;
}
/*testresult; wapka tablici testov*/
.main_page .tab_test_result_hat{
    border-bottom: 3px double silver; font-size: 11pt;
    border-right: 1px solid silver; font-weight: 300;
    margin-left:5px; margin-right: 5px;
    margin-top: 3px; margin-bottom: 4px;
}
/*testresult; wapka tablici testov, pravaya kolonka*/
.main_page .tab_test_result_hat_r{
    border-bottom:3px double silver;margin-left:5px; margin-right: 5px;
    margin-top: 3px; margin-bottom: 4px; font-size: 11pt; font-weight: 300;
}
.main_page .disc_tab_name{/*student: grades.jsp(ocenki studenta); stil nazvania predmeta i FIO prepoda*/
	text-align: left; margin-left: 10px;
}
.main_page .subdivision {/*student: courseworks.jsp,debt.jsp, info.jsp, sthelp.jsp, stsched_week.jsp,help.jsp; osnovnoi tekst razvernytogo titlepane*/
	text-align: justify; color: black; margin-right: 30px; background-color: white; 	width: 380px;
}
.main_page .radbut p{/*student: courseworks.jsp,debt.jsp, info.jsp, sthelp.jsp, stsched_week.jsp,help.jsp; vse elementi titlepane*/
	color: black; margin-left: 35px; margin-top: 5px; margin-bottom: 1px;
}
.main_page .radbut ol{/*student: courseworks.jsp,debt.jsp, info.jsp, sthelp.jsp, stsched_week.jsp,help.jsp; vse elementi titlepane*/
	list-style: none; margin-top: 5px; margin-bottom: 5px;
}
.main_page .radbutt ol{/*student: courseworks.jsp,debt.jsp, info.jsp, sthelp.jsp, stsched_week.jsp,help.jsp; vse elementi titlepane*/
	list-style: none; margin-top: 5px; margin-bottom: 5px;
}
.main_page .radbutt ol li p{/*student: courseworks.jsp,debt.jsp, info.jsp, sthelp.jsp, stsched_week.jsp,help.jsp; vse elementi titlepane*/
	color: Black; margin: 0px;
}
/*student: courseworks.jsp,debt.jsp, info.jsp, sthelp.jsp, stsched_week.jsp,help.jsp; vse elementi titlepane*/
.main_page .radbutt ol li a:link {COLOR: #505050; TEXT-DECORATION: none; font-size: 9pt; font-weight: normal; }
.main_page .radbutt ol li a:visited {COLOR: #505050; TEXT-DECORATION: none; font-size: 9pt; font-weight: normal}
.main_page .radbutt ol li a:active {COLOR: #303030; TEXT-DECORATION: none; font-size: 9pt; font-weight: normal}
.main_page .radbutt ol li a:hover {COLOR: #8DBEE0; TEXT-DECORATION: none; font-size: 9pt; font-weight: normal}
/*sudent: info.jsp*/
.main_page .content_of_tabContainer *{
    width: 450px;
}

.main_page .fio_friend{/*student: teachers.jsp, stteachers.jsp; posle poiska spisok prepodavatelei - v nem FIO ix*/
	color: #A4CCA9;
}
/*student: news; ssilka "podrodnee" v spiske novostei*/
.main_page .more_news:link {COLOR: #71C5F4; TEXT-DECORATION: none; font-size: 10pt; font-weight: normal;  font-family: Tahoma; font-weight: bolder;}
.main_page .more_news:visited {COLOR: #71C5F4; TEXT-DECORATION: none; font-size:10pt; font-weight: normal;  font-family: Tahoma; font-weight: bolder;}
.main_page .more_news:active {COLOR: #A3A3A3; TEXT-DECORATION: none; font-size: 10pt; font-weight: normal;  font-family: Tahoma; font-weight: bolder;}
.main_page .more_news:hover {COLOR: #FFACB9; TEXT-DECORATION: none; font-size: 10pt; font-weight: normal;  font-family: Tahoma; font-weight: bolder;}
/*students, teachers: stteachers, temp; for student's teachers list; ne ispolzyetsa*/
.main_page .pics{
	margin-right: 10px; margin-left: 7px;
}
/*stydent: r_meny, exc; left & right excMenu*/
.main_page .msg_gs ol{
	/* 	list-style-image:url('none');*/ list-style-position:outside;	list-style-type: none;
	padding:0pt; margin-left:10pt; margin-right:0pt; margin-top:3pt; margin-bottom:1em;
}
.main_page .msg_gs{/*stydent: r_meny, exc; left & right excMenu*/
	background: white;
}
/*stydent: r_meny, exc; left & right excMenu*/
.main_page .msg_gs a:link {COLOR: #505050; TEXT-DECORATION: none; font-size: 10pt; font-weight: normal; }
.main_page .msg_gs a:visited {COLOR: #505050; TEXT-DECORATION: none; font-size: 10pt; font-weight: normal}
.main_page .msg_gs a:active {COLOR: #303030; TEXT-DECORATION: none; font-size: 10pt; font-weight: normal}
.main_page .msg_gs a:hover {COLOR: #8DBEE0; TEXT-DECORATION: none; font-size: 10pt; font-weight: normal}

.main_page .nav_links_1_und{/*student: news;  repelistivanie stranic*/
    border-bottom: 1px solid silver;
    margin-left: 10px; margin-right: 10px;
    display:inline-block;
    vertical-align:top;
}
.main_page .nav_links_2_und{/*student: news;  repelistivanie stranic*/
    border-bottom: 1px solid silver;
    margin-left: -10px; margin-right: -10px; margin-bottom: 2px;
}
/*student: grades; zapis o zachtennosti disciplini*/
.main_page .zach_grade_stgrades{
    color: #197D1A; margin-top: 10px; margin-bottom: 10px; text-align: center;
}
.main_page .grade_stgrades{
    margin-top: 10px; margin-bottom: 10px; text-align: center;
}
/*student: grades; zapis o nezachtennosti disciplini*/
.main_page .nezach_grade_stgrades{
    color: red; margin-top: 1px; margin-bottom: 1px; text-align: center; margin-top: 10px; margin-bottom: 10px;
}
/*student: settings; tablichki v nastroikah*/
 .main_page .tab_new {
 	margin: auto;
    color: gray;
	text-align: left;
	margin-bottom: 8px;
	margin-top: 8px;
	border-spacing: 10px;
 }
 /*student: settings; tablichki v nastroikah*/
.main_page .tab_new tr td {
 	text-align: right;
	height: 20px;
}
/*student: settings; viravnivanie knopok*/
.main_page .virav_center{
    text-align: center;
	margin-bottom: 8px;
	margin-top: 8px;
}
/*student: settings; viravnivanie podskazki*/
.main_page .virav_left{
	text-align: left;
	width: 300px;
}
/*student: settings; oshibki*/
.main_page .scrit_blok {
    color: Red;
    text-align: left !important;
    height: 10px !important;
    /*display: none;*/
}
/*student: settings; tablichka sprava ot foto*/
.main_page .right_tab{
	margin-top: 30px !important;
}
/*student: settings; text dlya podgruzki foto*/
.main_page .big_td td{
	width: 230px ;
}
/*student: settings;*/
.main_page .grey_button{
    //margin-top: 20px;
}
/*teacher: message_list, read_new_message;*/
.main_page .letter_body{
    margin-top: 5px; margin-bottom: 10px; margin-left: 20px; margin-right: 20px; text-align:justify;
}
/*student: settings;*/
.main_page .scrit_blok2{
    color: #39CC42;
    text-align: center !important;
    height: 10px !important;
    margin-top: 0px;
    /*display: none;*/
}

.main_page .today_daybefore_all{/*admin, sudent: jornalir_about_one_YMK, jornalir_about_student_jornaling_view_of events, jornalir_all_events_for_stydent, jornaling2, jornaling3; vse sobitia*/
	margin:0; padding:0;
	width:522px; margin-bottom: 15px; background: white;
	color: black;  /*border-bottom: 3px double #aecbbb;
	border-top: 3px double #aecbbb;padding: 5px 10px 5px 10px;*/
	font-size: 12pt;
}

.main_page .today_daybefore_all table{/*admin, sudent: jornalir_about_one_YMK, jornalir_about_student_jornaling_view_of events, jornalir_all_events_for_stydent, jornaling2, jornaling3; vse sobitia*/
	max-width:500px; margin-bottom: 15px; margin-top: 5px; color: black;
	margin-left: 15px; margin-right: 15px;
	font-size: 9pt;
}


.main_page .for_jornalir_text img{/*admin, sudent: jornalir_about_one_YMK, jornalir_about_student_jornaling_view_of events, jornalir_all_events_for_stydent, jornaling2, jornaling3; text sobitia*/
	padding-top: 10px;
	padding-right: 10px;
}

.main_page .for_jornalir_text{/*admin, sudent: jornalir_about_one_YMK, jornalir_about_student_jornaling_view_of events, jornalir_all_events_for_stydent, jornaling2, jornaling3; text sobitia*/
	padding-left: 3px;
	padding-right:15px;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-top: -10px;

}
/*student: info*/
div#contacts p {margin:0 0 0 20px; color:#71C5F4;}
div#contacts li {margin:0; color:black; list-style:none;}
div#contacts ol {margin:0; padding-left:20px;}
div.contacts{margin:2px 0 3px 15px;}
div.transpTitle {margin-top:5px;}
/*student: settings;*/
.main_page .scrit_blok2{
    color: #39CC42;
    text-align: center !important;
    height: 10px !important;
    margin-top: 0px;
    /*display: none;*/
}
.main_page .today_daybefore_all{/*admin, sudent: jornalir_about_one_YMK, jornalir_about_student_jornaling_view_of events, jornalir_all_events_for_stydent, jornaling2, jornaling3; vse sobitia*/
	margin:0; padding:0;
	width:522px; margin-bottom: 15px; background: white;
	color: black;  /*border-bottom: 3px double #aecbbb;
	border-top: 3px double #aecbbb;padding: 5px 10px 5px 10px;*/
	font-size: 12pt;
}

.main_page .today_daybefore_all table{/*admin, sudent: jornalir_about_one_YMK, jornalir_about_student_jornaling_view_of events, jornalir_all_events_for_stydent, jornaling2, jornaling3; vse sobitia*/
	max-width:500px; margin-bottom: 15px; margin-top: 5px; color: black;
	margin-left: 15px; margin-right: 15px;
	font-size: 9pt;
}


.main_page .for_jornalir_text img{/*admin, sudent: jornalir_about_one_YMK, jornalir_about_student_jornaling_view_of events, jornalir_all_events_for_stydent, jornaling2, jornaling3; text sobitia*/
	padding-top: 10px;
	padding-right: 10px;
}

.main_page .for_jornalir_text{/*admin, sudent: jornalir_about_one_YMK, jornalir_about_student_jornaling_view_of events, jornalir_all_events_for_stydent, jornaling2, jornaling3; text sobitia*/
	padding-left: 3px;
	padding-right:15px;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-top: -10px;

}
.main_page .for_jornalir_img{/*admin, sudent: jornalir_about_one_YMK, jornalir_about_student_jornaling_view_of events, jornalir_all_events_for_stydent, jornaling2, jornaling3; iconca sobitia*/
	padding-left: 3px;
	padding-right:15px;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-top: -10px;

}

.main_page .for_jornalir_time{/*admin, sudent: jornalir_about_one_YMK, jornalir_about_student_jornaling_view_of events, jornalir_all_events_for_stydent, jornaling2, jornaling3; time sobitia*/
	padding-left: 5px;
	padding-right:5px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: right;
	width: 75px;
}

.main_page .p_for_jornalir{/*admin, sudent: jornalir_about_one_YMK, jornalir_about_one_student, jornaling_view_of events, jornalir_all_events_for_stydent, jornaling2, jornaling3; text sobitia*/
	margin: 0px;
	padding: 0px;

}
.main_page .for_sobitie_comment{/*student: jornalir_all_events_for_student; comment sobitia*/
	padding-left: 3px;
	padding-right:15px;
	padding-top: 0px;
	padding-bottom: 0px;
	margin-top: 0px;
	font-size: 10px;
}

.main_page .for_sobitie_text{/*student: jornalir_all_events_for_student; text sobitia*/
	padding-left: 3px;
	padding-right:15px;
	padding-top: 1px;
	padding-bottom: 0px;
	margin-top: -10px;
}

.main_page .for_choose_period_of_time{/*student: jornalir_all_events_for_student; for stroki vibora time*/
	padding-right: 10px;
	text-align: right;
}

.main_page .for_sobitie_href{/*student: jornalir_all_events_for_student; for stroki vibora time*/
	display: inline;
}

/*student: jornalir_all_events_for_student; for stroki vibora time*/
.main_page .for_choose_period_of_time .for_sobitie_href a:link {COLOR: #11517e; TEXT-DECORATION: none;font-size: 10pt;font-weight: normal;}
.main_page .for_choose_period_of_time .for_sobitie_href a:visited {COLOR: #11517e;TEXT-DECORATION: none;font-size: 10pt;font-weight: normal; }
.main_page .for_choose_period_of_time .for_sobitie_href a:active {COLOR: #1279c2;TEXT-DECORATION: none;font-size: 10pt;font-weight: normal; }
.main_page .for_choose_period_of_time .for_sobitie_href a:hover {COLOR: #1279c2;text-decoration: underline;font-size: 10pt;font-weight: normal;}

/*student: jornalir_all_events_for_student; for stroki texta sobitia*/
.main_page .for_sobitie_text  .p_for_jornalir a:link {COLOR: #11517e; TEXT-DECORATION: none;font-size: 10pt;font-weight: normal;}
.main_page .for_sobitie_text  .p_for_jornalir a:visited {COLOR: #11517e;TEXT-DECORATION: none;font-size: 10pt;font-weight: normal;}
.main_page .for_sobitie_text  .p_for_jornalir a:active {COLOR: #1279c2;TEXT-DECORATION: none;font-size: 10pt;font-weight: normal;}
.main_page .for_sobitie_text  .p_for_jornalir a:hover {COLOR: #1279c2;text-decoration: underline;font-size: 10pt;font-weight: normal;}
/*student: controlworks_last serie bukvi position of tab*/
.main_page .gray_words{
    margin-top: 3px;
}
/*student: controlworks_last serie bukvi*/
.main_page .gray_words tr td{
    font-family: Arial; font-size: 10pt; font-weight: normal;/* width: 104px;*/ COLOR: #727272; text-align: center;}

.main_page .gray_words td{
    font-family: Arial; font-size: 10pt; font-weight: normal; /*width: 104px;*/ COLOR: #727272; text-align: center;}

/*dla stolbcov*/
.main_page .gray_words_1_2{
    width: 250px;
    text-align: center;
   /* padding: 0px !important;*/
}

.main_page .gray_words_3_4{
    text-align: center !important;
    width: 80px;
    /*padding: 0px !important;*/
}

.main_page .gray_words_5{
    width: 50px;
    text-align: center !important;
    /*padding: 0px !important;*/
}
/*dla stolbcov*/
.main_page .gray_words_1_2_{
    width: 140px;
    text-align: center;
    border-bottom: 1px solid silver;
   /* padding: 0px !important;*/
}

.main_page .gray_words_3_4_{
    text-align: center !important;
    width: 80px;
    border-bottom: 1px solid silver;
    /*padding: 0px !important;*/
}

.main_page .gray_words_5_{
    width: 72px;
    text-align: center !important;
    border-bottom: 1px solid silver;
    /*padding: 0px !important;*/
}

.main_page .ssilka_vse_popitki{
    float: left;
    margin-left: 36px;
}

/*ssilki kontrolnaa №*/
.main_page .white_title a:link {outline: none; COLOR: #147BC4; TEXT-DECORATION: none;font-size: 10pt;font-weight: normal;}
.main_page .white_title a:visited {outline: none; COLOR: #147BC4;TEXT-DECORATION: none;font-size: 10pt;font-weight: normal;}
.main_page .white_title a:active {outline: none; COLOR: #69B5EB;TEXT-DECORATION: none;font-size: 10pt;font-weight: normal;}
.main_page .white_title a:hover {outline: none; COLOR: #69B5EB;text-decoration: underline;font-size: 10pt;font-weight: normal;}

.main_page .white_title_ a:link {outline: none; COLOR: #147BC4; TEXT-DECORATION: none;font-size: 10pt;font-weight: normal;}
.main_page .white_title_ a:visited {outline: none; COLOR: #147BC4;TEXT-DECORATION: none;font-size: 10pt;font-weight: normal;}
.main_page .white_title_ a:active {outline: none; COLOR: #69B5EB;TEXT-DECORATION: none;font-size: 10pt;font-weight: normal;}
.main_page .white_title_ a:hover {outline: none; COLOR: #69B5EB;text-decoration: underline;font-size: 10pt;font-weight: normal;}

.main_page .white_title_{
    border-bottom: 1px solid silver;
}


/*dla seroi polosi*/
.main_page .GrayTitle_big .dijitTitlePane .dijitTitlePaneTitle{
    padding: 0px !important;
}

.main_page .tab_contr_works_top_inf{
    border-bottom: 1px solid silver; font-size: 10pt;
}
/*student: controlworks_last slova v tablice*/
.main_page .tab_contr_works tr td{
    font-family: Arial; font-size: 10pt; font-weight: normal; /*width: 254px;*/
    text-align: center; padding-top: 0px; height: 23px;}

/*student: controlworks_last krasnie bukvi v tablice*/
.main_page .red_words{
    color: red;
}
.main_page .fio_stud_tests_otch{
    margin-left: 15px;margin-top: 5px; margin-bottom: 1px; color: #87CEFA; font-size: 12pt; font-style: italic;
    font: fantasy cursive sans-serif serif monospace Times New Roman; font-weight: bolder;
}
.main_page .facult_stud_tests_otch{
    font-size: 10pt; color: gray; margin-left: 15px; margin-top: 0px; margin-bottom: 2px;
}
.main_page .title_of_otch{
    color: gray; font-weight: bold; font-size: 11pt; margin: 0px; border-top: 3px double silver;
    border-bottom: 1px solid silver; padding: 10px;
 }
 .main_page .otch_main_tab{
    width: 502px; margin-left: 10px; margin-right: 10px; margin-top: 10px; margin-bottom: 10px; text-align: center;
}
.main_page .otch_main_tab tr td{
    padding: 3px;
}
/*teacher: otchet1;*/
.main_page .first_stolb_hat_main_tab{
    width: 210px; text-align: center; border-top: 3px double silver;
    border-bottom: 1px solid silver; border-right: 1px solid silver;
}
/*teacher: otchet1;*/
.main_page .second_stolb_hat_main_tab{
    width: 73px; text-align: center; border-top: 3px double silver;
    border-bottom: 1px solid silver; border-right: 1px solid silver;
}
/*teacher: otchet1;*/
.main_page .third_stolb_hat_main_tab{
    width: 73px; text-align: center; border-top: 3px double silver;
    border-bottom: 1px solid silver; border-right: 1px solid silver;
}
/*teacher: otchet1;*/
.main_page .fourth_stolb_hat_main_tab{
    width: 73px; text-align: center; border-top: 3px double silver;
    border-bottom: 1px solid silver; border-right: 1px solid silver;
}
/*teacher: otchet1;*/
.main_page .fiveth_stolb_hat_main_tab{
    width: 73px; text-align: center; border-top: 3px double silver;
    border-bottom: 1px solid silver;
}
/*teacher: grouptestresult, testresult; fon tablici*/
.main_page .chet_color_back{
    background: #EFEFEF;
}
/*teacher: otchet1; ramochki*/
.main_page .not_last_td_otch_page{
    text-align: center; border-bottom: 1px solid silver; border-right: 1px solid silver;
}
/*teacher: otchet1; ramochki*/
.main_page .last_td_otch_page{
    text-align: center; border-bottom: 1px solid silver;
}
/*teacher: otchet1; ramochki v samoy tablice*/
.main_page .td_otch_page1{
    text-align: center; border-bottom: 1px solid #DCDCDC;
}
.main_page .show_hide_link_in_otch:link {COLOR: #505050; TEXT-DECORATION: none; font-size: 9pt; font-weight: normal; }
.main_page .show_hide_link_in_otch:visited {COLOR: #505050; TEXT-DECORATION: none; font-size: 9pt; font-weight: normal;}
.main_page .show_hide_link_in_otch:active {COLOR: #303030; TEXT-DECORATION: none; font-size: 9pt; font-weight: normal;}
.main_page .show_hide_link_in_otch:hover {COLOR: #8DBEE0; TEXT-DECORATION: none; font-size: 9pt; font-weight: normal;}



/*dla studenta v ego osnovnoi staranice dla sobitii*/
.main_page .for_sobit_main_text{
   padding-left: 3px;
	padding-right:15px;
	padding-top: 5px;
	padding-bottom: 5px;
	/*margin-top: -10px;*/
}

.main_page .for_sobit_main_time{
    padding-left: 5px;
	padding-right:5px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: right;
	width: 75px;
}

.main_page .p_sobit_main{
    margin: 0px;
	padding: 0px;
    }
.main_page .for_sobit_main_text a {background: none;}
.main_page .for_sobit_main_text a:link {COLOR: #11517e; TEXT-DECORATION: none;font-size: 10pt;font-weight: normal;}
.main_page .for_sobit_main_text a:visited {COLOR: #11517e;TEXT-DECORATION: none;font-size: 10pt;font-weight: normal; }
.main_page .for_sobit_main_text a:active {COLOR: #1279c2;TEXT-DECORATION: none;font-size: 10pt;font-weight: normal; }
.main_page .for_sobit_main_text a:hover {COLOR: #1279c2;text-decoration: underline;font-size: 10pt;font-weight: normal;}

.main_page .p_sobit_main_verx_ssilk{
    text-align: right;
    margin-right: 15px;
    margin-left: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 0px;
}

.main_page .p_sobit_main_verx_ssilk a:link {COLOR: #11517e; TEXT-DECORATION: none;font-size: 10pt;font-weight: normal;}
.main_page .p_sobit_main_verx_ssilk a:visited {COLOR: #11517e;TEXT-DECORATION: none;font-size: 10pt;font-weight: normal; }
.main_page .p_sobit_main_verx_ssilk a:active {COLOR: #1279c2;TEXT-DECORATION: none;font-size: 10pt;font-weight: normal; }
.main_page .p_sobit_main_verx_ssilk a:hover {COLOR: #1279c2;text-decoration: underline;font-size: 10pt;font-weight: normal;}

/*dla studenta v ego osnovnoi staranice dla sobitii*/

.main_page .show_hide_link_in_otch:hover {COLOR: #8DBEE0; TEXT-DECORATION: none; font-size: 9pt; font-weight: normal;}

.main_page .material_name:link{color: #75cff5; margin-bottom: 5px; font-size: 12pt; font-weight: bolder; text-decoration: none;}
.main_page .material_name:hover{color: #75cff5; margin-bottom: 5px; font-size: 12pt; font-weight: bolder; text-decoration: underline;}
.main_page .material_name:active{color: #75cff5; margin-bottom: 5px; font-size: 12pt; font-weight: bolder; text-decoration: none;}
.main_page .material_name:visited{color: #75cff5; margin-bottom: 5px; font-size: 12pt; font-weight: bolder; text-decoration: none;}

.main_page .teacher_name{
    margin-top: 5px; font-size: 11pt; color: gray; margin-bottom: 0px;
}
.main_page .teacher_name b{
    color: #525252;
}
.main_page .dop_inf{
    margin-top: 10px; padding-left: 15px;
}
.main_page .finished_tests{
    margin: 0px;
}
.main_page .test_results{
    margin-top: 5px; margin-bottom: 0px;
}
.main_page .final_test{
    margin-top: 5px; margin-bottom: 0px;
}
.main_page .more_inf_link:link {COLOR: #959595; TEXT-DECORATION: underline; font-size: 10pt; font-weight: normal; padding-top:0px;}
.main_page .more_inf_link:visited {COLOR: #959595; TEXT-DECORATION: underline; font-size:10pt; font-weight: normal; padding-top:0px;}
.main_page .more_inf_link:active {COLOR: #F95E62; TEXT-DECORATION: none; font-size: 10pt; font-weight: normal; padding-top:0px;}
.main_page .more_inf_link:hover {COLOR: #F95E62; TEXT-DECORATION: none; font-size: 10pt; font-weight: normal;  padding-top:0px;}

.main_page .msg1 a:link {COLOR: #505050; TEXT-DECORATION: none; font-size: 10pt; font-weight: normal; }
.main_page .msg1 a:visited {COLOR: #505050; TEXT-DECORATION: none; font-size: 10pt; font-weight: normal;}
.main_page .msg1 a:active {COLOR: #303030; TEXT-DECORATION: none; font-size: 10pt; font-weight: normal;}
.main_page .msg1 a:hover {COLOR: #8DBEE0; TEXT-DECORATION: none; font-size: 10pt; font-weight: normal;}

.main_page .grade_points_in_materials{
    color: red; /*font-style: italic;*/

}

/*
@media all and (-webkit-min-device-pixel-ratio:10000), not all and (-webkit-min-device-pixel-ratio:0) {
    .large_inp{
        display: none; width: 800px; left: -850px;
    }
}
@media all and (-webkit-min-device-pixel-ratio:10000),
not all and (-webkit-min-device-pixel-ratio:0) {
    .large_inp .dijitInlineTable .dijitLeft .medium .dijitTextBox,
    .large_inp .dijitInputField{
        width: 800px !important; height: 14px;
    }
}

.main_page .div_with_inputs{
    display: none; width: 690px; left: -900px; text-align: right;
}
@media all and (-webkit-min-device-pixel-ratio:10000),
not all and (-webkit-min-device-pixel-ratio:0) {
    .main_page .div_with_inputs{
        display: none; width: 690px; left: -850px; text-align: right;
    }
}*/


/*for pasport_new*/
.main_page .pasp_title_content{
  margin: 10px 10px 10px 10px !important;
}
.main_page .pasp_content{
    width: 502px;
}
.main_page .pasp_img{
    margin-right: 10px; margin-top: 2px; float: left;
}
.main_page .pasp_img_test{
    margin-right: 6px; margin-top: 2px; float: left; margin-left: 8px;
}
.main_page .pasp_title_text{
    margin: 0px; color: #777777; font-size: 10pt; font-weight: bolder; padding: 0px;
}
.main_page .module_text{ color: #3b75cc;}
.main_page .passiv_test{
    color: #9d9c9c;
}
.main_page .pasp_links:link{ color: #777777; font-size: 10pt; text-decoration: none;}
.main_page .pasp_links:active{ color: #F56161; font-size: 10pt; text-decoration: none;}
.main_page .pasp_links:visited{ color: #777777; font-size: 10pt; text-decoration: none;}
.main_page .pasp_links:hover{ color: #F56161; font-size: 10pt; text-decoration: none;}

.main_page .pasp_list{
    margin: 0px; list-style: none; //padding-left: 40px;
}
.main_page .test_text{
    color: #777777; font-size: 10pt;
}
.main_page .test_link:link{color: #777777; font-size: 10pt; text-decoration: none; font-weight: bolder}
.main_page .test_link:active{color: #F56161; font-size: 10pt; text-decoration: none; font-weight: bolder}
.main_page .test_link:visited{color: #777777; font-size: 10pt; text-decoration: none; font-weight: bolder}
.main_page .test_link:hover{color: #F56161; font-size: 10pt; text-decoration: none; font-weight: bolder}

.main_page .course_error{
    margin: 10px; background: #fef1f1;
    border: 1px solid #fe8b8b; padding: 10px; height: 40px;
    vertical-align: bottom; margin-bottom: 5px;
}
.main_page .course_error_text{
    color: #fd3232; font-size: 11pt;  margin-top: 15px;
}
.main_page .course_error_img{
    float: left; margin-left: 110px; margin-right: 20px;
}
.main_page .error_course_back_link{
    margin-right: 10px; margin-top: 17px;
}
.main_page .error_course_back_link a:link{ color: #777777; font-size: 10pt; text-decoration: none;}
.main_page .error_course_back_link a:active{ color: #54affb; font-size: 10pt; text-decoration: none;}
.main_page .error_course_back_link a:visited{ color: #777777; font-size: 10pt; text-decoration: none;}
.main_page .error_course_back_link a:hover{ color: #54affb; font-size: 10pt; text-decoration: none;}

.main_page .my_educ_disc_reason{
    list-style: none;
    margin: 0px;
    padding: 0px;
}
.main_page .my_educ_disc_reason li{
    margin: 0px;
}
/*for my education*/
/*education_info*/
.main_page .top_blue_menu{
    margin-left: 110px;
}
.main_page .blue_cub{
    z-index: 1;
}
.main_page .cub{
    width: 34px; height: 34px; margin-top: 10px; /*float: left;*/ margin-right: 20px;
}

.main_page .link_top_blue_menu:link{color: white; font-size: 12pt; text-decoration: none; font-weight: bold; }
.main_page .link_top_blue_menu:visited{color: white; font-size: 12pt; text-decoration: none; font-weight: bold;}
.main_page .link_top_blue_menu:active{color: #faf561; font-size: 12pt; text-decoration: none; font-weight: bold;}
.main_page .link_top_blue_menu:hover{color: #faf561; font-size: 12pt; text-decoration: none; font-weight: bold;}

.main_page .link_top_blue_menu {color: white; font-size: 12pt; text-decoration: none; font-weight: bold;}

.main_page .top_link_up{
    z-index: 2; margin-top: -29px; margin-left: 14px;//margin-top: -31px; //margin-left: 13px;
}
.main_page .title_my_education{
    color: #54affb;
    font-size: 11pt;
    width: 502px;
    text-align: right !important;
    font-weight: bold;
    margin-top:  17px;
    padding-top: 0px;
    padding-right: 0px;
}
.main_page .my_educ_text{
    margin-left: 10px;
    margin-right: 0px;
    width: 493px;
    text-align: justify;
    margin-top: 10px;
}
.main_page .my_educ_text *{
    margin-left: 9px;
}
.main_page .my_educ_text ol{
    margin-left: 0px;
}
.main_page .my_educ_text p{
    margin-top: 3px; margin-bottom: 3px;
}
.main_page .my_educ_img{
    float: left;
    margin-right: 10px;
}
/*umk*/
.main_page .link_in_text:link{color: #135c9a; text-decoration: underline;}
.main_page .link_in_text:visited{color: #135c9a; text-decoration: underline;}
.main_page .link_in_text:active{color: #54affb; text-decoration: none;}
.main_page .link_in_text:hover{color: #54affb; text-decoration: none;}

.main_page .educ_red_tetx{
    color: #fd0202; margin-bottom: 5px; font-size: 10pt;
    //margin-top: 0px; margin-top: 8px !important;
}
.main_page .educ_umk_text{
    margin-left: 28px; margin-bottom: 2px;
}
.main_page .educ_content_title{
    margin-left: 30px;
    margin-top: 2px;
    margin-bottom: 5px;
}
.main_page .educ_content_title_test{
    margin-top: 4px;
    margin-bottom: 9px;
}
/*prochie*/
.main_page .educ_content_title_activ{
    margin-left: 58px;
    margin-top: 2px;
    margin-bottom: 5px;
}
/*for cont_work_groupe*/
.main_page .lesson_cont_gr{
    margin-left: 20px; color: #6495ED;
}

.main_page .student_cont_gr{
    margin-left: 20px;
}
.main_page .gray_words_left{
    text-align: left !important;
    font-family: Arial; font-size: 10pt; font-weight: normal;  width: 104px; COLOR: #727272;
}
.main_page .green_tetx_cont_gr{
     color: #03b428 !important; text-align: left !important;
    font-family: Arial; font-size: 10pt; font-weight: normal;  width: 104px;
}
.main_page .blue_tetx_cont_gr{
     color: #034bb4 !important; text-align: left !important;
    font-family: Arial; font-size: 10pt; font-weight: normal;  width: 104px;
}
.main_page .otstup_snizu_tab_for_razv{
    margin-bottom: 5px !important;
    margin-left: 15px !important;
}
.main_page .pereexzam{
        text-align: right !important;
        float: right;
}
.main_page .pereexzam:link{ color: #4c64cb; text-decoration: underline; }
.main_page .pereexzam:active{ color: #4c64cb; text-decoration: underline;}
.main_page .pereexzam:visited{ color: #4c64cb; text-decoration: underline;}
.main_page .pereexzam:hover{ color: #54AFFB; text-decoration: none;}

/*for librery_of_course*/
.main_page .semester_link{
    color: #717172;
    font-size: 9pt;
    font-weight: bolder;
}
.main_page .semester_link a:link {color: #878789; text-decoration: underline; font-weight: normal;}
.main_page .semester_link a:visited {color: #878789; text-decoration: underline; font-weight: normal;}
.main_page .semester_link a:active {color: #717172; text-decoration: none; font-weight: normal;}
.main_page .semester_link a:hover {color: #717172; text-decoration: none; font-weight: normal;}

.main_page .lib_course_list{
    color: #558ad7;
    font-size: 11pt;
    font-weight: bolder;
    margin-right: 20px;
    margin-top: 15px;
}
.main_page .lib_course_list li{
    margin-bottom: 10px;
}
.main_page .lib_course_list p{
    margin-top: 3px; margin-bottom: 3px;
}
.main_page .pasp_links_lib:link{ color: #777777; font-size: 10pt; text-decoration: none; font-weight: normal; font-style: normal;}
.main_page .pasp_links_lib:active{ color: #F56161; font-size: 10pt; text-decoration: none; font-weight: normal; font-style: normal;}
.main_page .pasp_links_lib:visited{ color: #777777; font-size: 10pt; text-decoration: none; font-weight: normal; font-style: normal;}
.main_page .pasp_links_lib:hover{ color: #F56161; font-size: 10pt; text-decoration: none; font-weight: normal; font-style: normal;}

.main_page .lib_prep_course{
    font-weight: normal; font-style: normal; color: #4a4b4c; font-size: 10pt;
}
.main_page .lib_author_course{
    color: black; font-size: 11pt;
}
.main_page .latest_students_events b{
	color: #1FAFFF; font-size: 10pt;
}


/*for shedule student - bottom text */
.prosto_tekst .comment{
	XXXmargin-top: 10px !important;
	border-top: 1px lightblue solid;
	border-bottom: 1px lightblue solid;
	color:#4C4C4C !important;
	font-size:8pt;
}
.main_page .post_message_success_from_reading{
	margin: 10px; padding: 10px; border: 1px solid silver; background: #F0F8FF;
}
/*for shedule student - bottom text */
/**/
/**/
/**/
.attention_text_container_for_cw_upload{
    width: 302px;
}
.attention_text_for_cw_upload{
    text-align: justify; margin: 0px; color: gray;
}
.main_page .hat_of_tests_result_in_my_educ{
    text-align: center !important;
    border-top: 3px double silver;
    border-bottom: 1px solid silver;
    padding: 1px 3px 2px 3px;
    color: #777777; 
    font-size: 11pt;
}
.main_page .tests_tab_in_my_educ{
    margin: 0px; width: 100%;
}