.chat_name_student{float: left; font-family: tahoma; font-size: 8pt; font-weight: bold; color: #1FA1E4;}
.chat_name_teacher{float: left; font-family: tahoma; font-size: 8pt; font-weight: bold; color: #79E125;}
.chat_name_admin{float: left; font-family: tahoma; font-size: 8pt; font-weight: bold; color: #EE9F07;}
.chat {width: 100%}
.chat input{width: 140px; height: 18px; border: 1px solid #a535d7; font-size: 8pt; color: #a535d7; font-family: tahoma; line-height: 10px;}
.chat p{margin: 0;}
.chat form{margin: 5px 0 0 5px;}
.chat_small{width: 198px;}
.chat_small p{margin: 0;}
.chat_small form{margin: 5px 0 0 5px;}
.chat_small input{width: 140px; height: 18px; border: 1px solid #a535d7; font-size: 8pt; color: #a535d7; font-family: tahoma; line-height: 10px;}
.chat_links{font-size: 8pt; color: #a535d7; font-family: tahoma}

.chat_msg_s{border: 1px solid #c9c9c9;  padding:2px;  margin-top: 5px;}
.chat_msg_b{border: 1px solid #c9c9c9;  padding:2px; width: 450px; margin: 5px;}

.chat_msg_s b{color: #c9c9c9; font-family: tahoma; font-size: 7pt; float:right; font-weight: normal;  }
.chat_msg_b b{color: #a535d7; font-family: tahoma; font-size: 8pt; float:left; font-weight: normal;  }
.chat_ans{color: #a535d7; font-family: tahoma; font-size: 8pt; float:right; font-weight: normal;  }
.chat_msg_s p{color: #3d3d3d; font-family: tahoma; font-size: 8pt; clear: both; margin-top: 15px;}
.chat_name_st{float: left; font-family: tahoma; font-size: 8pt; font-weight: bold; color: #1193c4;}
.chat_inner{overflow:auto; height:100px; }