<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
       ">

  <bean id="semesterGetter" init-method="afterPropertiesSet" class="org.sgu.oecde.core.util.SemesterGetter" p:csDao-ref="csDao"/>
  <bean id="preFilter" class="org.sgu.oecde.core.education.estimation.ResultPreFilter"/>
  <bean class="org.sgu.oecde.core.education.estimation.EstimateFilter" id="estimateFilter" />

  <bean abstract="true" class="org.sgu.oecde.core.BasicDao" id="basicDao" >
      <property name="sessionFactory" ref="sessionFactory"/>
  </bean>
  <bean abstract="true" parent="basicDao" class="org.sgu.oecde.core.UpdateDao" id="updateDao" />
  
  <import resource="spring/daoBeans.xml"/>
  <import resource="spring/dbBeans.xml"/>
</beans>