/* 
    Document   : admin
    Created on : 14.07.2010, 17:11:17
    Author     : KorgovVD
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

.mainStyle .userFile{
    background: #FFE1DF;
    padding: 10px 15px;
    border-bottom: #FF796F 1px solid;
}
.mainStyle .userPhoto{
    float: left;
    width: 15%;
}
.mainStyle .userPhotoBorder{
    border: 1px #FF796F solid;
    width: 96%;
    padding: 3px;
    background: white;
}
/*.mainStyle .userPhotoBorderStudent{
    border: 1px #4DB7F1 solid;
    width: 96%;
    padding: 3px;
    background: white;
}*/
.mainStyle .userPhotoBorderAdmin{
    border: 1px #FF796F solid;
    width: 96%;
    padding: 3px;
    background: white;
}

.mainStyle .userPhotoBorder img{
    margin: 0px;
    padding: 0px;
    vertical-align: top;
    width: 100%;
}
.mainStyle .loadPhotoButton{
    background: #FFB5AF;
    border-top: 1px solid #FFF0EF;
    border-left: 1px solid #FFF0EF;
    border-right: 1px solid #EF9B95;
    border-bottom: 1px solid #EF9B95;
    color: #EF483B;
    min-height: 25px;
    margin-top: 10px;
    font-size: 100%;
    cursor: pointer;
    padding: 0px 10px;
}
.mainStyle .userData{
    width: 85%;
    float: right;
}
.mainStyle .userData p{
    color: #96A0A2;
    text-align: left;
    margin-right: 10px;
}
.mainStyle .userData div{
    color: #EF483B;
    text-align: left;
}

.mainStyle .contentHeader{
    width: 100%;
    background: #FFA69F;
    border-top: #EF483B 1px solid;
    border-bottom: #EF483B 1px solid;
}
.mainStyle .contentHeader p{
    font-size: 150%;
    padding: 5px 0 5px 15px;
    text-align: left;
    color: white;
    font-family: Arial;
    float: left;
}
.mainStyle .onlineStatus{
    float: right;
    padding: 10px 15px 5px 0px;
    color: white;
    text-decoration: underline;
    font-family: Arial;
}
.mainStyle .AdminNavigationLinks a:link{
    color: #4593DF;
    font-family: Arial;
    font-size: 10pt;
    font-weight: normal;
    margin: 0;
    text-decoration: none;
}
.mainStyle .AdminNavigationLinks a:visited{
     color: #4593DF;
    font-family: Arial;
    font-size: 10pt;
   font-weight: normal;
    margin: 0;
    text-decoration: none;
}
.mainStyle .AdminNavigationLinks a:hover{
    color: #8DBEE0;
    font-family: Arial;
    font-size: 10pt;
   font-weight: normal;
    margin: 0;
    text-decoration: none;
}
.mainStyle .AdminNavigationLinks a:active{
    color: #8DBEE0;
    font-family: Arial;
    font-size: 10pt;
    font-weight: normal;
    margin: 0;
    text-decoration: none;

}
.mainStyle .AdminTextGrey{
    line-height: 30px;
    font-weight: normal;
    color: #6F6F6F;
}
.mainStyle .AdminNavigationLinksBold a:link{
    color: #4593DF;
    font-family: Arial;
    font-size: 10pt;
    font-weight:bold;
    margin: 0;
    text-decoration: none;
}
    .mainStyle .AdminNavigationLinksBold a:visited{
    color: #4593DF;
    font-family: Arial;
    font-size: 10pt;
   font-weight:bold;
    margin: 0;
    text-decoration: none;
}
.mainStyle .AdminNavigationLinksBold a:hover{
    color: #8DBEE0;
    font-family: Arial;
    font-size: 10pt;
    font-weight:bold;
    margin: 0;
    text-decoration: none;
}
.mainStyle .AdminNavigationLinksBold a:active{
    color: #8DBEE0;
    font-family: Arial;
    font-size: 10pt;
    font-weight:bold;
    margin: 0;
    text-decoration: none;
}
.mainStyle .AdminInfo {
    color: #4593DF;
    font-size: 8pt;
    font-weight: normal;
    text-indent: 10px;
}
.mainStyle .pageEditTable{
    width: 70%;
     left: 3%;
    position: relative;
}
.mainStyle .pageEditTable th{
    text-align: center !important;
    font-weight: normal;
    color:#373E3F;
}
.mainStyle .pageEditTable td{
    text-align: center !important;
}
/*настройки портала*/
.DataTests td:nth-child(2){
      color: #6F6F6F;
    display: block;
    margin-left: 10px;


}
.DataTests td:nth-child(1){

    display: block;
    float: left;
    margin-left: 10px;
    margin-right: 20px;
}
.DataTests input{
    width: 35px;
    text-align: center !important;
}
/*форум*/
.mainStyle .marginsDateBlocksPortalSettings{
    display: block;
    margin-bottom: 20px;
}


/*информация о пользователе*/
.mainStyle .townsInTableGroups{
    text-align:center;
    color: grey;
}
.mainStyle .addNewsButtonPosition{
    position: relative;
    width: 130px;
    left: 42%;
    display: block;
}

.mainStyle .backLinkPosition{
    text-align: right;
 padding-top: 5px;}

.mainStyle .newsBlocks{
    margin: 18px;
}
.mainStyle .includeName{
float: left; margin-right: 10px;
}
/*поиск*/
.mainStyle .searchBlock{
    display: block;
    margin-top: 10px;
}
.mainStyle .searchButtonPosition{
    width: 70px;
    height: 20px;
    margin-top: 0;
    margin-left: 10px;
    text-align: center !important;
}
/*pictures*/
.mainStyle .news_delete{
    background: url('../resources/images/news_delete.gif') no-repeat 0 0;
    padding-left: 17px;
}
.mainStyle .saveChanges{
    background: url('../resources/images/save.gif') no-repeat 0 0;
    padding-left: 17px;
}
.mainStyle .return_to_list{
    background: url('../resources/images/return_to_list.gif') no-repeat 0 0;
    padding-left: 17px;
}
.mainStyle .add_page{
    background: url('../resources/images/add_page.gif') no-repeat 0 0;
    padding-left: 17px;
}
/*тесты*/
.mainStyle .qTitle img{
    display: inline;
}
.mainStyle .radioButtonActive label iframe{
    background: url(../resources/images/radioButtonActive.png) no-repeat;
    background-position: center left;
    padding-left: 17px;
    display: block;
    margin-left: 330px;
    overflow: hidden;
}
.mainStyle .radioButtonEnabled label iframe{
    background: url(../resources/images/radioButtonEnabled.png) no-repeat;
    background-position: center left;
    padding-left: 17px;
      display: block;
       margin-left: 330px;
       overflow: hidden;
}
.mainStyle .testAdminTextCenter{
   font-weight: bold;
}
.mainStyle .checkboxActive label iframe{
    background: url(../resources/images/checkboxActive.png) no-repeat;
    background-position: center left;
    padding-left: 17px;
    display: block;
    margin-left: 330px;
    overflow: hidden;
}
.mainStyle .checkboxEnabled label iframe{
    background: url(../resources/images/checkboxEnabled.png) no-repeat;
    background-position: center left;
    padding-left: 17px;
    display: block;
    margin-left: 330px;
    overflow: hidden;
}