*{
    margin: 0px;
    padding: 0px;
    color: #838383;
font-family: Arial;
font-size: 10pt;
}
img{
    border: 0px;
/*    display: block;*/
}
body {
    background-color: #ffffff;
    font-size: 12px;
    font-family:   Arial, "Arial CE", Verdana, "Verdana CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
    color: #838383;
    text-align: left;
    padding: 10px;
}
h1 {
    font-family: Arial, "Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
    font-size:  16px;
    font-weight: bold;
    margin: 0px;
    padding: 0px;
    padding-bottom: 10px;
    color: #89C9F5;
    text-align: center;
}
p{
    margin: 0px;
   
}
.floatDestroyer{
    clear: both !important;
    margin: 0px !important;
    padding: 0px !important;
    width: 1px !important;
    height: 1px !important;
    border: 0px !important;
}
label{
display: block;
padding-left: 12px;
}