/* 
    Document   : loginPageStyles
    Created on : 02.07.2010, 15:35:52
    Author     : KorgovVD
    Description:
        Purpose of the stylesheet follows.
*/

.browsersLogo{
    margin-bottom: -6px;
}
.login_pageBackground{
    background: url("../resources/images/grad_top4.jpg") repeat-y scroll center #E1E1E1;
}
.login_pageTopSpace{
    height: 70px;
    width: 10px;
}
.login_pageFormBackground{
   background: url("../resources/images/main_background_top.png") no-repeat;
    width: 1001px;
    height: 819px;
}
.login_pageFormBackgroundBottom{
    background: url('../resources/images/main_background_bottom.png')  no-repeat white;
    background-position: bottom;
}
.login_pageFormBackgroundBottomRoundCorners{
    background: url('../resources/images/main_background_bottom2.png')  no-repeat;
    background-position: bottom;
    height: 27px;
    width: 100%;
    margin-bottom: 50px;
}
.login_pageBigIcon{
/*    float: left;*/
    margin-left: 30px;
    margin-top: 30px;
    margin-right: 50px;
}
.login_pageFormContainer{
    padding-top: 20px;
    margin: 0px;
    text-align: left;
}
.SDO_text{
    margin: 4px 0px 10px;
    color: white;
    font-size: 15pt;
    font-family: Century Gothic;
    text-align: center;
}
.SDO_text_UOE{
    font-weight: bold;
    font-size: 26px;
}
.SDO_text_SDE{
    font-weight: bold;
}
/*.Ipsilon_Picture{
    position: absolute;
    right: 300px;
    top: 225px;
}*/
.login_loginTable{
    padding-left: 65px;
    padding-top: 20px;
}
.login_pageFormInputsLabels{
    margin-top: 2px;
/*    color: #016281;*/
    color: black;
    font-size: 10pt;
    font-family: Arial;
}
.login_pageFormInputs{
    background: url("../resources/images/log_input_fon.jpg") repeat-x scroll 0 0 transparent;
    border: 1px solid #A6D0E7;
    color: #016281;
    font-size: 9pt;
    height: 17px;
    margin-left: 8px;
    margin-right: 0;
    padding-left: 6px;
    padding-top: 0;
    width: 100px;
}
.login_pageFormButtons{
/*    background: url("../resources/images/buttonBlue.jpg") repeat-x scroll center transparent;*/
    background: #BEDBEA;
    border: 1px solid #afc4c9;
/*    color: #016281;*/
    color: black;
    font-size: 10pt;
    font-family: Arial;
    height: 18px;
    margin-right: 21px;
    padding-left: 9px;
    padding-right: 9px;
    padding-top: 0;
    vertical-align: top;
    cursor: pointer;
}
.login_pageFormButtons:hover,
.login_pageFormButtons:active{
/*    background: url("../resources/images/buttonBlue2.jpg") repeat-x bottom;*/
    background: #a3cce2;
    font-size: 10pt;
/*    color: #016281;*/
    color: black;
    border: 1px solid #acc5cb;
    outline: none;
}
/*.login_pageHelloText{
    height: 315px;
    width: 800px;
    z-index: 1;
}*/
.BoldBlackText{
    font-weight: bold;
    font-family: Arial;
    font-size: 9pt;
    margin-top: 10px;
}
.login_pagePadding{
    padding-bottom: 6px;
    padding-top: 6px;
}
.login_pagePadding td{
   height: 50px;
   vertical-align: top;
   width: 220px;
}
.login_pagePadding td:first-child{
    width: 250px;
}
.login_pageLink{
    color: #1cb1db;
}
.login_pageMarker{
    list-style-image: url('../resources/images/markerStartPage.png');
}
.login_pageMargins{
    margin-left: 20px;
    padding-right: 50px;
}
.login_pageSpecialityList p+p{
    font-style: italic;
    text-align: left;
}

/*.login_pageBottomCorners{
    width: 800px;
    z-index: 1;
}
.login_pageLeftBottomCorner{
    float: left;
}
.login_pageRightBottomCorner{
    float: right;
}
.login_pageBetweenBottomCornersSpace{
    width: 770px;
    height: 28px;
    background: none repeat scroll 0 0 white;
}*/
.login_pageHelloTextP{
	color: #396469;
	text-align: justify;
	FONT-SIZE: 105%;
	margin: 10px;
	margin-left: 20px;
	margin-right: 20px;
}
.login_pageHelloTextTitle{
	color: #396469;
	FONT-SIZE: 105%;
	margin: 10px;
}
.login_pageHelloTextLink:link{color:  #4AD4FF;text-decoration: underline;}
.login_pageHelloTextLink:active{color:  #4AD4FF;text-decoration: underline;}
.login_pageHelloTextLink:visited{color:  #4AD4FF;text-decoration: underline;}
.login_pageHelloTextLink:hover{color:  #4AD4FF;text-decoration: none;}
/*страница логинизации*/
.indexPage .educ_umk_text_block{
    margin: 0;
}
.blackText{
    color: black;
}
.blackText div, .blackText p, .blackText a, .blackText li, .blackText span, .blackText label, .blackText td{
    color: black !important;
}
.listMarker{
    padding-left: 24px;
}