/*стили для оповещений*/
.notificationTableTextOrange2{width: 90%; margin: 5%;}
.notificationTableTextOrange2 tr td{padding: 2px 0px;}
.mainStyle .notificationTableTextOrange2 td:nth-child(even) p{
    color: #FBB35D;
}
/*стили для подсказки*/
.textForPodskazka{
    margin: 10px;
}
.textForPodskazka p{
    margin: 5px 0px;
    text-align: left;
}

/*стили для рейтинга группы*/
.listOfWinner li, .listOfWinner li span{
	color: #FBB35D;
}
.listOfAther, .listOfWinner{
	width: 90%;
        text-align: left;
        margin-left: 8%;
}
.listOfWinner li{
	margin-top: 4%;
}
.listOfAther li{
	margin-top: 2%;
}
.listOfWinner li span,.listOfAther li span{
	float:right;
	list-style: none !important;
        list-style-type: none !important;
}
/*styles for progressbar*/
.progressBarRating { border: 1px solid #FBB35D; height:6px; text-align: left; width:95%; margin-top: 3px;}
.progressBarRating div{height: 4px;  border: 1px solid #FBB35D; border-right: 1px solid #fbb35e; background: #fbb35e; color: #ffffff; font-weight: bold; }
