
/* 
    Document   : student
    Created on : 14.07.2010, 10:51:45
    Author     : KorgovVD
    Description:
       стили для студента
*/


/*стили для студент Темплэйт*/
.mainStyle .userFile{
    padding: 10px 15px;
}
.StudentSecondLineBlocks{
    padding: 3px 3px 0px 3px; border: 1px solid silver;
}
/*стили для таблиц*/
.mainStyle .StudentTablePadding{
    padding: 10px;
    margin: 0 !important;
}
.mainStyle .studentControlWorksTable td:nth-child(1){
    width: 10%;
}
/*главная страница студента*/
.my_educ_text ol {
    margin-left: 0;
}
.my_educ_disc_reason{
    list-style: none;
}
.my_educ_disc_reason li{
    margin-left: 23px;
}
.my_educ_disc_reason span{
    color: black;
}
.mainStyle .news_icon{
    font-size: 12pt !important;
    padding-left: 24px;
    background:url('../resources/images/news_icon.gif') no-repeat ;
}
.mainStyle .events{
    font-size: 12pt !important;
    background:url('../resources/images/events.gif') no-repeat left top;
    padding-left: 24px;
}
.mainStyle .discipline{
    font-family: Arial;
    color: #27587F;
    background:url('../resources/images/discipline.gif') no-repeat;
    padding-left: 24px;
}
/*стили для границ блоков*/

.studentStandatrTableBorder{
    border-right: 1px solid #D1E0EF;
}
.StudentTimeTable{
    padding-top: 10px;
}
/*.mainStyle .userData{
    width: 85%;
    float: right;
}*/
.mainStyle .userData p{
    text-align: left;
    margin-right: 10px;
    width: 65%;
}
/*.mainStyle .userData div{
    color: white;
    text-align: left;
}*/

.mainStyle .onlineStatus{
    float: right;
    padding: 10px 15px 5px 0px;
    color: white;
    text-decoration: underline;
    font-family: Arial;
}

/*мои изучаемые материалы*/
.mainStyle .materialInfo{
    margin-left: 25px;
}
.materialInfo p{
    padding-bottom: 5px;
    padding-left: 17px;
}
.materialInfo span{
    color: #64D359;
    /*font-weight: bolder;*/
}
/*.materialInfo p:nth-child(1){
   background:  url("../resources/images/control_works_little.gif") no-repeat ;
}
.materialInfo p:nth-child(2){
   background:  url("../resources/images/test_results_little.gif") no-repeat;
   background-position: -2px 0;
}
.materialInfo p:nth-child(3){
     background:  url("../resources/images/test_result_little.gif") no-repeat;
}
  .StudentTestMark{
 color: #1D1F1F;
}*/

/*список администраторов*/
.mainStyle .studentPaddBott{
    padding-bottom: 10px;
}
.mainStyle .studentPaddLeft{
    padding-left: 10px;
}
/*мои контрольные работы*/
.mainStyle .columnNames{
    color: gray;
    width: 170px;
    padding-left: 10px;
}
.mainStyle .chooseContrWorkButtonPosition{
    display: block;
    text-align: center !important;
    float: right;
    height: 17px !important;
    margin-left: 10px !important;
    width: 31px;
}
.mainStyle .controlWorkResultStylePassed{
    color: #5bbf5d;
}
.mainStyle .controlWorkResultStyleFailed{
    color: #FBB35D;
}
.mainStyle .controlWorkResultStyleAvailable{
    color: #D4D4D4;
}
.mainStyle .save_control_work{
    background: url('../resources/images/save_control_work.png') no-repeat right;
    padding-right: 15px;
}
.mainStyle .add_cont_work{
    background: url('../resources/images/add_cont_work.png') no-repeat right;
}
/*тесты*/

.mainStyle .notPassedTest{
    color: #EF596D;
    display: block;
}
.mainStyle .backLinkPosition{
    display: block;
    margin-top: 5px;
    margin-left: 70px;
}
.mainStyle .counterPosition{
    text-align: right;
    float: right;
}
.mainStyle .testItemsDiv{
    text-align: left;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 25px;
}
.mainStyle .beginTest{
    display: block;
    width: 150px;
    position: relative;
    left: 40%;
}

/*    input[type="radio"]+label{float: right;}*/

/*    input[type="checkbox"]+label{float: right;}*/


.mainStyle .testQuestionTitle{
    display: block;
    font-size: 14px;
}


.mainStyle .testFinish{
    font-size: 14pt;
    padding: 0;
    margin: auto;
    width: 180px;
}
.mainStyle .testResultMarkNotNull{
    color: #FBB35D;
}
/* результаты тестов*/
.mainStyle .workTitle{
    font-size: 8pt;
    font-weight: normal;
    display: block;
    padding-left: 8px;
}
/*рейтинг*/
.mainStyle .ratingStyle{
    color: green;
    font-weight: bolder;
    font-size: 10pt;
}
/*главная страница*/
.mainStyle .tdStudentMainPage{
    width: 50%;
    padding: 3px 3px 0px 3px;
    border: 1px solid silver;
}
.mainStyle .StudentMainPageTitles{
    border-bottom: 1px solid silver;
    padding-top: 4px;
}
.mainStyle .StudentMainPageImgPadd{
    padding-left: 17px;
    padding-bottom: 3px;
}
.mainStyle .messagesMainStPage{
    background: url('../resources/images/messagesMainStPage.png') no-repeat;
    background-position: right center;
    padding-right: 30px;
}
.mainStyle .messagesMainStPageNewMess{
    background: url('../resources/images/message_active.jpg') no-repeat;
    padding-left: 25px;
    padding-top: 4px;
}
.mainStyle .messagesMainStPageIncomeMess{
    background: url('../resources/images/messagesMainStPage.png') no-repeat;
    padding-left: 25px;
    padding-top: 4px;
}
.mainStyle .StudentMainPageExit{
    margin-top: -10px;
}
.mainStyle .StudentMainPageExit a:link {color: #838383; text-decoration: none; font-size: 10pt;font-weight: bold;}
.mainStyle .StudentMainPageExit a:visited{color: #838383;text-decoration: none;font-size: 10pt;font-weight: bold;}
.mainStyle .StudentMainPageExit a:hover{color: #b5a5a5; text-decoration: none;font-size: 10pt; font-weight: bold;}
.mainStyle .StudentMainPageExit a:active{color: #838383;text-decoration: none;font-size: 10pt;font-weight: bold;}
.mainStyle .test_results{
    font-family: Arial;
    color: #27587F;
    background:url('../resources/images/test_results.gif') no-repeat;
    padding-left: 24px;
}
.mainStyle .control_works{
    font-size: 12pt;
    background:url('../resources/images/control_works.gif') no-repeat;
    padding-left: 24px;
}

/*pictures*/
/*.mainStyle .discipline_summ{
    background: url('../resources/images/discipline_summ.gif') no-repeat 0 0;
}*/
.mainStyle .cross-circle{
    background: url('../resources/images/cross-circle.gif') no-repeat 0 0;
}
/*мои изучаемые материалы дисциплины*/

/*.mainStyle .attemps{
    color: grey;
    background: url('../resources/images/attemps.gif') 2px 1px no-repeat;
    padding-left: 18px;
}
.mainStyle .tryingAttemps{
    color: grey;
    background: url('../resources/images/tryingAttemps.gif') no-repeat;
    padding-left: 18px;
}
.mainStyle .arrows{
    color: grey;
    background: url('../resources/images/arrows.gif') 2px 1px no-repeat;
    padding-left: 18px;
}
.mainStyle .star{
    color: grey;
    background: url('../resources/images/star.gif') no-repeat;
    padding-left: 18px;
}
.mainStyle .time{
    color: grey;
    background: url('../resources/images/time.gif')2px 0 no-repeat;
    padding-left: 18px;
}
.mainStyle .discipline_summ{
    color: grey;
    background: url('../resources/images/discipline_summ.gif') no-repeat;
    padding-left: 18px;
}*/
/*.mainStyle.controlWorksBorders{
    border-bottom: 1px solid #D1E0EF;
     padding-bottom: 10px;
    padding-top: 10px;
}*/

/*на главной странице переопределяет стиль таблицы studentStandatrTable*/
.mainStyle .studentTableEvent th{
    border-bottom: 1px solid silver;
}
/*зачетная книжка студента*/
.mainStyle .LeftInterfaceContent{
    width: 66%;
    float: left;
}
.mainStyle .RightInterfaceContent{
    width: 27%;
    margin-left: 72%;
}
.mainStyle .blocksMargins{
    margin: 10px; margin-left: 15px;
}
/*информация*/
.mainStyle .clickToHidMarkerListMainPage{
    background: url("../resources/images/markerListMainPage.png") no-repeat left center;
    padding-left: 12px;
}